name: Consulat RDV Watcher (Selenium)

on:
  schedule:
    - cron: '0 * * * *'  # Toutes les heures
  workflow_dispatch:

jobs:
  check-rdv:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Install ChromeDriver
        uses: nanasess/setup-chromedriver@v2

      - name: Install dependencies
        run: |
          pip install selenium

      - name: Check RDV
        env:
          CURRENT_RDV: ${{ secrets.CURRENT_RDV }}
          SMS_TOKEN: ${{ secrets.SMS_TOKEN }}
          SMS_TO: ${{ secrets.SMS_TO }}
        run: python watcher.py
